@use 'variables' as v;

header {
  * {
    --border: 1px solid red;
  }

  background-color: v.$base-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  color: white;

  .App-logo {
    height: 4rem;
    pointer-events: none;
  }

  nav {
    margin: 0 1rem;
    display: flex;
    gap: 10px;

    a {
      padding: 7px 15px;
      display: block;
      color: white;
      text-decoration: none;
      border: 2px solid white;
      border-radius: 10px;

      &:hover {
        text-decoration: underline;

      }

      &.active {
        --color: red;
        border-color: rgb(0, 0, 0);
      }
    }
  }
}


/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/