@use 'header';
@use 'main';
@use 'footer';
@use 'registro';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --font-family: 'Roboto', sans-serif;
}

.enlace{
  border: 1px solid green;
  width: 100%;
  height: 100%;
  display: block;
}

html, body{
  --min-height: 100%;
  overflow: auto;

}


#root{
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid blue;

  main{
    flex: 1;
  }

  footer{
    height: 3rem;
    background: rgb(92, 92, 92);
  }
}



